@inherits StructurizerNEW.Templating.ProjectDocumentationTemplate<StructurizerNEW.Domain.Project>
<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="utf-8">
        <title>@Model.MetaData.Name</title>    
        <link href="http://bootswatch.com/readable/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://raw.github.com/mtrpcic/pathjs/master/path.js"></script>
        <style>
            .sidebar-nav-fixed {
                position:fixed;
                top:60px;
                width:21.97%;
            }
        </style>
    </head>
    <body>
        <div class="fluid-container sidebar-left">
          <div class="fluid-sidebar" style="position: fixed;">
              <div class="side-nav" style="padding:10px">
                  <ul class="nav nav-list affix">
                      <li class="nav-header">Index</li>
                      @foreach(var chapter in Model.Children)
                      {
                          <li>                              
                              @if(chapter.Children.Any())
                              {
                                  <a href="@(chapter.NavItemHash + "/root")" class="chapter-link">@chapter.PathNameWithoutStartingNumbers</a>
                                  <ul class="nav nav-list">
                                      @foreach (var sect in chapter.Children)
                                      {
                                          <li><a href="@sect.NavItemHash" class="section-link">@sect.PathNameWithoutStartingNumbers</a></li>                                  
                                      }
                                  </ul>
                              }
                              else
                              {
                                   <a href="@chapter.NavItemHash" class="chapter-link">@chapter.PathNameWithoutStartingNumbers</a> 
                              }

                          </li>
                      }
                  </ul>
              </div>
            </div>
             <div class="fluid-content">
                <div style="padding:10px; margin-left:250px;margin-right:10px;">
                     <div class="page-header">
                        <h1>@Model.MetaData.Name <small style="font-size:small;">@Model.MetaData.Teaser</small></h1>
                        <img src="markdown.png" class="img-polaroid" style="width:32px; height:32px;"> Generated from markdown using Structurizr
                    </div>
                        @foreach (var chapter in Model.Children)
                        {
                            <div class="chapter" id="@chapter.PathNameWithoutSpacesAndSlashes">
                                <h2>@chapter.PathNameWithoutStartingNumbers</h2>
                    
                                @if (chapter.HasOwnContent && chapter.HasChildren)
                                {
                                    <!-- Fabricated root section -->
                                    <div class="section" id="@(chapter.PathNameWithoutSpacesAndSlashes + "-root")">
                                        @Raw(chapter.ProcessedBody)   
                                    </div>
                                }
                                else
                                {
                                    @Raw(chapter.ProcessedBody)    
                                }                                                                

                                @foreach (var sect in chapter.Children)
                                {
                                    <div class="section" id="@sect.FullPathNameWithoutSpacesAndSlashes">
                                        <h3>@sect.PathNameWithoutStartingNumbers</h3>
                                        @Raw(sect.ProcessedBody)
                                    </div>
                                }
                            </div>
                        }
                    </div>
              </div>  
        </div>            
        <script type="text/javascript">
            $(document).ready(function () {               
                Path.map('#(/:chap)(/:sect)').to(function () {
                    $('.chapter').hide();
                    $('.section').hide();
                    if (this.params.chap) {
                        $(document.getElementById(this.params.chap)).show();
                        if (this.params.sect) {
                            $(document.getElementById(this.params.chap + '-' + this.params.sect)).show();
                        }
                    }
                    console.log(this.params);
                });

                $('.chapter').hide();
                $('.section').hide();

                Path.listen();

                $('.chapter-link')[0].click();
            });            
        </script>           
    </body>
</html>